body{
	background: #FFA07A
	}
.platillos{
	background: #FFA07A;
}
.col{
	background: #FFA07A;
}
.bebidas{
	background: #FFA07A;
}
.venta{
	background: #FFA07A;
}
 h1{
	background: #CD5C5C;
}

.videos{
	background: #FFA07A;
}
.ubicacion{
	background: #FFA07A;
}
